%% -*- erlang -*-
{erl_opts, [
    debug_info
  ]}.

{xref_checks, [undefined_function_calls]}.

{deps, [
  {cowboy,       "2.6.1"},
  {gen_leader,   "0.1.0"},
  {gproc,        "0.8.0"},
  {parse_trans,  "3.3.0"},
  {jiffy,        "0.15.2"},
  {pooler,       {git, "https://github.com/seth/pooler.git", {tag, "1.5.2"}}},
  {epgsql,       "4.2.1"},
  {eredis,       "1.2.0"},
  {iso8601,      "1.3.1"},
  {gun,          "1.3.0"},
  {gen_smtp,     "0.13.0"},
  {sync,         {git, "https://github.com/rustyio/sync.git", {ref, "6e9d73"}}}
]}.

{plugins, []}.

{shell, [
  {config, "config/sys.config"},
  {apps, [wa]}
]}.

{elvis, [#{
    dirs => ["src"],
    filter => "*.erl",
    ruleset => erl_files
  }]}.
{elvis_output_format, colors}.
